      <div class='material'>
        <div class='material-image-wrapper'>
          <div class="material-id" id='material-<%= material.id %>' aria-hidden='true'><%= material.id %></div> 
          <div class="material-quantity-unit" id='material-<%= material.quantity_unit %>' aria-hidden='true'><%= material.quantity_unit %></div>
          <%= image_tag material.image.variant(resize: '200x200'), class:'material-image' if material.image.attached? %>
          <% if params[:"controller"] == "materials" && params[:"action"] == "index" %>
            <ul class='manipulate-list' >
              <li>
                <%= link_to '編集', edit_material_path(material.id), class:'edit-material' %>
              </li>
              <li>
                <%= link_to '削除', material_path(material.id), method: :delete, data: { confirm: '削除しますか？' }, class:'destroy-material' %>
              </li>
            </ul>
          <% end %>
        </div>
        <div class='material-name' id='material-name'><%= material.name %><% if params[:"action"] == "tally" %><%= quantities[material.id]%><%= material.quantity_unit  %><% end %></div>
      </div>