      <div class='material'>
        <%= image_tag material.image.variant(resize: '200x200'), class:'material-image' if material.image.attached? %> 
        <div class='text' >
          <div class='material-name'>
            <%= material.name %>
          </div>
          <div class='more'>
            <span><%= image_tag 'arrow_top.png' %></span>
            <ul class='more_list'>
              <li>
                <%= link_to '編集', edit_material_path(material.id) %>
              </li>
              <li>
                <%= link_to '削除', material_path(material.id), method: :delete %>
              </li>
            </ul>
          </div>
        </div>
      </div>