      <div class='material'>
        <div class='material-image-wrapper'>
          <div class="material-id" id='material-<%= material.id %>' aria-hidden='true'><%= material.id %></div> 
          <%= image_tag material.image.variant(resize: '200x200'), class:'material-image' if material.image.attached? %>
          <ul class='manipulate-list' >
            <li>
              <%= link_to '編集', edit_material_path(material.id), class:'edit-material' if params[:"controller"] == "materials" && params[:"action"] == "index" %>
            </li>
            <li>
              <%= link_to '削除', material_path(material.id), method: :delete, data: { confirm: '削除しますか？' }, class:'destroy-material' if params[:"controller"] == "materials" && params[:"action"] == "index" %>
            </li>
        </div>
        <div class='material-name' id='material-name'><%= material.name %><%= quantities[material.id] if params[:"action"] == "tally" %></div>
      </div>