<div class='top-page-catch-copy'>
  食材把握ツール
</div>
<div class='top-page-header'>
  <div class='app-title'>
    Matelist
  </div>
  <div class='top-page-header-btns-wrapper'>    
    <%= link_to '買い物リスト', show_summary_orders_path, class: 'top-page-header-btn' %>    
    <%= link_to '献立登録', new_order_path, class: 'top-page-header-btn' %>
    <%= link_to '料理一覧', products_path, class: 'top-page-header-btn' %>
    <%= link_to '食材一覧', materials_path, class: 'top-page-header-btn' %>
  </div>
</div>
<div class='top-page-orders-wrapper'>
  <% @orders.each do |order| %>
    <div class='order-wrapper'>
      <div class='order-name'>
        <%= order.name %>
      </div>
      <ul class='manipulate-order-btns-wrapper'>
        <li>
          <%= link_to '編集', edit_order_path(order.id), class:'edit-order' %>
        </li>
        <li class='destroy-order-wrapper'>
          <%= link_to '削除', order_path(order.id), method: :delete, data: { confirm: '削除しますか？' }, class:'destroy-order' %>
        </li>
      </ul>
      <% order.products.each do |product| %>
        <div class='top-page-product-wrapper'>
          <%= image_tag product.image.variant(resize: '200x200'), class:'product-image' if product.image.attached? %>
          <div class='product-name'>
            <%= product.name %>
          </div>
        </div>
      <% end %>  
    </div>
  <% end %> 
</div>