<div class='catch-copy'>
</div>
<div class='order-tally-header'>
  <div class='order-tally-title'>
    買い物リスト
  </div>
  <div class='order-tally-header-btns-wrapper'>    
    <%= link_to '献立一覧', orders_path, class: 'order-tally-header-btn' %>    
    <%= link_to '料理一覧', products_path, class: 'order-tally-header-btn' %>
    <%= link_to '食材一覧', materials_path, class: 'order-tally-header-btn' %>
  </div>
</div>
<div class='order-tally-info-wrapper'>
  <% materials = [] %>
  <% quantities = {} %>  
  <% sum_up(@orders, materials, quantities) %>
  <% for i in 2..9 do %>
    <div class='category-name'><%= Category.data[i - 1][:name] %></div>
    <div class='materials-wrapper'>
      <% materials.select{|material| material.category_id == i}.each do |material| %>
        <%= render partial: 'shared/material', locals: { material: material, quantities: quantities } %>
      <% end %>
    </div>
  <% end %>
</div>
