<div class='orders-show-summary-header'>
  <div class='catch-copy'>
    食材把握ツール
  </div>
  <div class='orders-show-summary-header-main'>
    <div class='orders-show-summary-title'>
      買い物リスト
    </div>
    <input type='number' class='input-number-of-people' id='input-number-of-people'>
    <div class='follow-text'>人分</div>
    <div class='orders-show-summary-header-btns-wrapper'>    
      <%= link_to '献立一覧', orders_path, class: 'orders-show-summary-header-btn' %>    
      <%= link_to '料理一覧', products_path, class: 'orders-show-summary-header-btn' %>
      <%= link_to '食材一覧', materials_path, class: 'orders-show-summary-header-btn' %>
    </div>
  </div>
</div>
<div class='orders-show-summary-info-wrapper'>
  <% materials_quantities = collect_materials(@orders) %>
  <% materials = materials_quantities[0] %>
  <% quantities = materials_quantities[1] %>
  <% for i in 2..9 do %>
    <div class='category-name'><%= Category.data[i - 1][:name] %></div>
    <div class='materials-wrapper'>
      <% materials.select{|material| material.category_id == i}.each do |material| %>
        <% quantity = quantities[material.id] %>
        <%= render partial: 'shared/material', locals: { material: material, quantity: quantity } %>
      <% end %>
    </div>
  <% end %>
</div>
