<div class='show-header'>
  <div class='show-page-title'>
    料理の詳細
  </div>
  <a href="/products" class='show-header-btn'>料理一覧へ戻る</a>
</div>

<div class='show-information-wrapper'>
  <%= image_tag @product.image.variant(resize: '400x400'), class:'product-show-image' if @product.image.attached? %>
  <div class='product-name-wrapper'>
    <%= @product.name %>
  </div>
  <div class='product-sort-name-wrapper'>
    <%= @product.sort.name %>
  </div>
  <div class='material-names-label-text'>食材</div>
  <div class='product-materials-names-wrapper'>
    <% @product.materials.each do |material| %>
      <%= material.name %>
    <% end %>
  </div>
  <%= link_to '編集する', edit_product_path(@product.id), class:'get-edit-page-btn' %>
  <%= link_to '削除する', product_path(@product.id), method: :delete, data: { confirm: '削除しますか？' }, class:'destroy-product-data-btn' %>
</div>